body{
    font-family: tahoma, arial sans-serif;
    margin: 0;
    padding: 0;
}

#principal{
    width: 1024px;
    margin: 20px auto;
}

.header-top{
    background: #162028;
    position: relative;
}
.logotipo{
    margin: 5px 0 0 150px;
}
.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav li{
    list-style: none;
    display: inline-block;
    margin:0 20px 0 0;
    padding: 10px;
}
.header-nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #425564;
    font-size: 12px;
    letter-spacing: 4px;
    padding: 15px;
    transition:color 0.5s linear;
}
.header-nav a:hover{
    color: whitesmoke;
}
.portifolio{
    padding: 50px 100px;
    text-align: center;
}
.portifolio h1{
    font-size: 38px;
    color: rgb(24, 20, 20)
}
.portifolio p{
    font-size: 18px;
    line-height: 2;
    color: #555
}
.gallery{
    color: #555;
    padding: 0 100px 50px 100px;
    overflow: auto;
}
.gallery-card{
    width: 32%;
    float: left;
    text-align: center;
}
.gallery-title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: bold;
}
.about{
    background-color:#003d52;
    padding: 100px;
    color:white;
    background-image: url(../Fashion/imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.about h2{
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    font-weight: normal;
}
.about p{
    line-height: 1.5;
    width: 65%;
    letter-spacing: 2px;
}
#contact{
    margin: 50px 0;
}
#contact address{
    color: teal;
    text-transform: uppercase;
    font-size: 28px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.rodape{
    background: #000;
    color: rgb(5, 106, 119);
    letter-spacing: 4px;
    text-align: center;
    padding: 25px;
}
